

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
 float: left;
 font-size: 1.7em;
 color: black;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}
#logo:hover {
 color: grey;
 text-decoration: none;
}